:root {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size:16px;

  --color-background-modal: rgba(0, 0, 0, 0.6);
  --color-background-main: rgb(255, 255, 255);
  --color-background-secondary: rgb(220, 220, 220);
  --color-form-invalid: rgb(175, 100, 100);
  --color-font-main: rgb(0, 0, 0);
  --color-form-inactive: rgb(178, 178, 178);
  --color-accent-main: rgb(0, 56, 62);
  --color-accent-hover: rgb(40, 95, 101);
  --color-accent-active: rgb(78, 131, 138);
  --transition-time-standard: 250ms;
  --transition-time-fast: 0.125s;
  --height-footer: min(12vh, 5rem);
  --height-header: min(15vh, 6rem);
  --width-content: calc(min(80vw, 1024px));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a, button, .close-modal, .read, .delete {
  cursor: pointer;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

header, main, footer {
  width: 100%;
  padding: 0 calc((100vw - var(--width-content)) / 2) ;
}

header {
  height: var(--height-header);
  background-color: var(--height-header);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-accent-main);
}

header h1{
  font-size: 2rem;
  font-weight: 700;
}

header svg {
  height: 2rem;
  width: 2.75rem;
  padding-left: 0.75rem;
}

main {
  background-color: var(--color-background-secondary);
  height: calc(100vh - var(--height-footer) - var(--height-header));
  height: calc(100svh - var(--height-footer) - var(--height-header));
  overflow: auto;
  z-index: 0;
}

main::before {
  content: '';
  position: fixed;
  height: 1rem;
  width: 100%;
  top: var(--height-header);
  left: 0;
  background-color: var(--color-background-secondary);
  z-index: 1;
}

main > div::after {
  content: '';
  height: 4rem;
  width: 100%;
  grid-column: 1 / -1;
}

.book-list {
  padding: 1rem 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 1rem;
}

.book-list > div {
  min-height: 11rem;
  border-radius: 1rem;
  border-style: none;
  background-color: var(--color-background-main);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

.book-list > div > div {
  max-width: 80%;
}

.book-list .title {
  font-size: 1.125rem;
  font-weight: 500;
}

.book-list .author::before {
  content: 'By : ';
}

.book-list .pages {
  font-size: 0.875rem;
  font-weight: 300;
}

.book-list .pages::after {
  content: ' pages'
}

.read {
  align-self: flex-end;
  justify-self: flex-end;
  width: 2.5rem;
  height: 1.25rem;
  background-color: var(--color-background-secondary);
  border-radius: 0.75rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.read::before {
  font-size: 0.875rem;
  font-weight: 400;
  width: 5rem;
  text-align: end;
  position: absolute;
  bottom: calc(0% + 0.1315rem);
  right: calc(100% + 0.5rem);
  pointer-events: none;
  transition: var(--transition-time-fast);
}

.read::after {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  position: absolute;
  transition: 300ms;
}

.book-list > div.read-true .read::after {
  right: 0%;
  background-color: var(--color-accent-hover);
}

.book-list > div.read-false .read::after {
  right: 50%;
  background-color: var(--color-form-invalid);
}

.book-list > div.read-true .read::before {
  content: 'read';
  color: var(--color-accent-hover);
}

.book-list > div.read-false .read::before {
  content: 'not read';
  color: var(--color-form-invalid);
}

.delete {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.delete::before {
  content: "\D7";
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--color-form-inactive);
  transition: var(--transition-time-standard);
}

.delete:hover::before {
  color: var(--color-form-invalid);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-modal);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-time-standard);
}

.modal-form.active {
  pointer-events: all;
  opacity: 1;
}

.container-form {
  background-color: var(--color-background-main);
  margin-top: calc(var(--height-header) + 1rem);
  width: min(16rem, 60vw);
  height: min(20.375rem, calc(100vh - var(--height-header) - var(--height-footer) - 1.875rem));
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: auto;
}

.container-form h2 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  color: var(--color-font-main);
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 0.625rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-form-inactive);
  transition: var(--transition-time-standard);
}

.close-modal:hover {
  color: var(--color-accent-main);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.input-text {
  width: 100%;
  height: 2.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-font-main);
  transition: var(--transition-time-standard);
}

.input-text.invalid {
  color: var(--color-form-invalid)
}

.input-text::after,
.input-text::before {
    content: "";
    position: absolute;
    top: 100%;
    align-self: flex-start;
}

.input-text::before {
    background-color: var(--color-form-inactive);
    width: 100%;
    height: 1px;
    z-index: 1;
}

.input-text::after {
    transition: var(--transition-time-standard);
    background-color: var(--color-font-main);
    width: 0%;
    z-index: 2;
    height: 2px;
}

.input-text.invalid::after {
    background-color: var(--color-form-invalid);
}

.input-text:hover::after,
.input-text.focus::after {
    width: 100%;
}

.required::after {
  content: ' *';
}

.input-text > label {
  font-weight: 500;
  min-height: 1.125rem;
  position: absolute;
  top: 1.125rem;
  z-index: 1;
  transition: var(--transition-time-standard);
  color: var(--color-form-inactive);
}

.input-text > label.active {
  top: 0;
  transform: scale(0.875) translateX(-7.5%);
  color: inherit;
}

.input-text > input {
  background-color: transparent;
  border: none;
  color: inherit;
  outline: none;
  z-index: 2;
}

fieldset {
  display: flex;
  width: 100%;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
  color: var(--color-font-main);
}

fieldset > div {
  flex: 0;
  width: 100%;
  padding: 0.25rem 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

fieldset label {
  font-weight: 400;
  padding-left: 0.25rem;
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  box-shadow: 0 0 0 1px var(--color-form-inactive);
  border: 0.375rem solid var(--color-background-main);
  background-color: var(--color-background-main);
  transition: calc(0.5 * var(--transition-time-standard));
  transition-timing-function: linear;
}

input[type="radio"] ~ label {
  color: var(--color-form-inactive);
}

input[type="radio"]:checked {
  box-shadow: 0 0 0 1px var(--color-font-main);
  background-color: var(--color-font-main);
  border: 0.175rem solid var(--color-background-main);
}

input[type="radio"]:checked ~ label {
  color: var(--color-font-main);
}

.error-message {
  pointer-events: none;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--color-form-invalid);
  opacity: 0;
  transition: var(--transition-time-fast);
  position: absolute;
}

.input-text > .error-message {
  top: calc(100% + 0.25rem);
}

.input-text.invalid > .error-message {
  opacity: 1;
}

fieldset .error-message {
  bottom: 0;
  left: 0;
}

fieldset > div.invalid > .error-message {
  opacity: 1;
}

form ~ button {
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-accent-main);
  color: var(--color-background-main);
  transition: var(--transition-time-fast);
}

form ~ button:hover {
  background-color: var(--color-accent-hover);
}

form ~ button:active {
  background-color: var(--color-accent-active);
}

footer {
  position: fixed;
  bottom: 0;
  height: var(--height-footer);
  background-color: var(--color-background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer div {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 5rem;
  background: linear-gradient(0deg, var(--color-background-secondary) 0%,transparent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

footer button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: none;
  background-color: var(--color-accent-main);
  color: var(--color-background-main);
  font-size: 2rem;
  font-weight: 700;
  transition: var(--transition-time-standard);
  pointer-events: all;
}

footer button:hover {
  background-color: var(--color-accent-hover);
}

footer button:active {
  background-color: var(--color-accent-active);
}

footer a {
  text-decoration: none;
  color: var(--color-accent-main);
  font-weight: 500;
  transition: var(--transition-time-standard);
}

footer a:hover {
  color: var(--color-accent-active);
}